<script>
window.intercomSettings = {
  name: "{{ currentUser.friendlyName}}",
  email: " {{ currentUser.email }} ",
  app_id: "{{ settings.app_id }}",
  "admin": "{{ currentUser.admin }}",
  "user_hash": "{{ user_hash }}",
  "company": {
    "id": "{{ siteUrl }}",
    "name": "{{ siteName }}",
    "url": "{{ siteUrl }}",
    "plan": "pro",
  }
};
</script>

<!-- window.intercomSettings = {
  ...
  "user_hash": "<?php echo
  hash_hmac("sha256", $user->email, "yPV7F8NxueYdjKkVFiDZotFgTTrKTYZSWc_rM2do");
  ?>",
  "app_id": "aadhbcv9"
}; -->

<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/aadhbcv9';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
